# Ejercicio 1: Transformar cadenas

In [6]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
# Divide el texto
# string.split(separator, maxsplit)
#       separator	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
#       maxsplit	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"
textopartido = text.split('. ')
textopartido

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 '\nOn average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [17]:
# Palabras clave (Se escriben las palabras que se desean filtrar entre comillas dobles y englobadas por corchetes)
# Se cambio distance por effects ya que no se encuentra dicha palabra en el texto 
palabrasclave = ["average", "temperature", "effects" ]
# Mostrando las palabras clave 
palabrasclave

['average', 'temperature', 'effects']

In [19]:
# Recorrido por el texto mediante un ciclo "for" 
for texto in textopartido:
    for palabra in palabrasclave:
        if palabra in texto:
            print(texto)
            break

On average, the Moon moves 4cm away from the Earth every year
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 C.

In [20]:
# Cambiar C a Celsius utilizando ciclo for para leer, detectar y cambiar imprimiendolo en pantalla
for texto in textopartido:
    for palabra in palabrasclave:
        if palabra in texto:
            print(texto.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
This yearly drift is not significant enough to cause immediate effects on Earth
The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2: Formateando Cadenas

In [35]:
# Datos proporcionados

planeta = "Earth"
gravedad = 0.00162 # in kms
nombre = "Moon"

In [36]:
# Creamos el título
title = f'datos de gravedad sobre {nombre}'

In [37]:
# Creamos la plantilla
Datos = f"""{'-'*50} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [38]:
# Unión de ambas cadenas
template = f"""{title.title()} 
{Datos} 
""" 
print(Datos)

--------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [39]:
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [40]:
# Comprobamos la plantilla
print(hechos)

--------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [42]:
nuevaplantilla = """
Datos de Gravedad sobre: {nombre}
------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(nuevaplantilla.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [44]:
# Pista: print(nueva_plantilla.format(variables))
print(nuevaplantilla.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2